.preview-text {
    margin-left: 30px;
    font-weight: bold;
}
[data-image='1'],
[data-image='2'] {
    text-align: center;
    
    img, img.simple {
        margin: 0;
        vertical-align: middle;
        border-style: none;
    }
}    
[data-image='1'] {
    img[data-contenttype='conan-hero'] {
        box-shadow: 0 0 5px #000;
            
        border-radius: 50%;
        border-style: solid;
        border-color: #ffffff !important;
        box-sizing: border-box;
    }
    img[data-contenttype='conan-tile'] {
        border-radius: 50%;
        border-style: solid;
        box-shadow: 0 0 5px #000;
        box-sizing: border-box;
    }
    

    &[data-imagesize='big'] {
        img[data-contenttype='conan-hero'] {
            height: 47px;
            width: 47px;
            border-width: 1.15px;
        }
        img[data-contenttype='conan-tile'] {
            height: 47px;
            width: 47px;
            border-width: 4px;
        }
        img[data-contenttype='conan-equipment'] ,
        img[data-contenttype='conan-spell'],
        img[data-contenttype='conan-token'],
        img[data-contenttype='conan-scenario-element'] {
            height: 47px;
        }
    }
    &[data-imagesize='medium'] {
        img[data-contenttype='conan-hero'] {
            height: 31px;
            width: 31px;
            border-width: 0.76px;
        }
        img[data-contenttype='conan-tile'] {
            height: 31px;
            width: 31px;
            border-width: 2.64px;
        }
        img[data-contenttype='conan-equipment'],
        img[data-contenttype='conan-spell'],
        img[data-contenttype='conan-token'],
        img[data-contenttype='conan-scenario-element'] {
            height: 31px;
        }
    }
    &[data-imagesize='small'] {
        img[data-contenttype='conan-hero'] {
            height: 21px;
            width: 21px;
            border-width: 0.51px;
        }
        img[data-contenttype='conan-tile'] {
            height: 21px;
            width: 21px;
            border-width: 1.79px;
        }
        img[data-contenttype='conan-equipment'],
        img[data-contenttype='conan-spell'],
        img[data-contenttype='conan-token'],
        img[data-contenttype='conan-scenario-element'] {
            height: 21px;
        }
    }
}

[data-image='2'] {
    &[data-imagesize='big'] {
        img[data-contenttype='conan-hero'],
        img[data-contenttype='conan-tile'],
        img[data-contenttype='conan-equipment'],
        img[data-contenttype='conan-spell'] {
            height: 103px;
        }
        img[data-contenttype='conan-token'],
        img[data-contenttype='conan-scenario-element'] {
            height: 47px;
        }
    }
    &[data-imagesize='medium'] {
        img[data-contenttype='conan-hero'],
        img[data-contenttype='conan-tile'],
        img[data-contenttype='conan-equipment'],
        img[data-contenttype='conan-spell'] {
            height: 83px;
        }
        img[data-contenttype='conan-token'],
        img[data-contenttype='conan-scenario-element'] {
            height: 31px;
        }
    }
    &[data-imagesize='small'] {
        img[data-contenttype='conan-hero'],
        img[data-contenttype='conan-tile'],
        img[data-contenttype='conan-equipment'],
        img[data-contenttype='conan-spell'] {
            height: 63px;
        }
        img[data-contenttype='conan-token'],
        img[data-contenttype='conan-scenario-element'] {
            height: 21px;
        }
    }
}

[data-contenttype='conan-tile'] { &[data-color='gray'] { border-color: #A99589 !important; } }
[data-contenttype='conan-tile'] { &[data-color='red'] { border-color: #8F1E39 !important; } }
[data-contenttype='conan-tile'] { &[data-color='blue'] { border-color: #005E8A !important; } }
[data-contenttype='conan-tile'] { &[data-color='green'] { border-color: #649033 !important; } }
[data-contenttype='conan-tile'] { &[data-color='orange'] { border-color: #DB7D0F !important; } }
[data-contenttype='conan-tile'] { &[data-color='purple'] { border-color: #674E79 !important; } }
[data-contenttype='conan-tile'] { &[data-color='black'] { border-color: #050404 !important; } }
